.carousel {
	border: 1px solid $global-border-color;
	border-radius: $border-radius-base;
}

.carousel-inner > .item {
	min-height: 220px;
	padding: 20px 50px;
}

.carousel-control {
	color: $link-color;
	text-shadow: none;
	width: 10%;

	&:hover {
		color: $link-color;
	}
}

.carousel-control.left {
	background-image: linear-gradient(to right, rgba(153, 51, 0, 0.5) 0%, rgba(153, 51, 0, 0) 100%)
}

.carousel-control.right {
	background-image: linear-gradient(to right, rgba(153, 51, 0, 0) 0%, rgba(153, 51, 0, 0.5) 100%)
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    font-size: 20px;
    height: 20px;
    width: 20px;
}