.dob {

  max-width: 142px;
  
  .dob-month {
    // border: none;
  }
  .dob-month, .dob-day, .dob-year {
    border: none;
    display: inline-block;
    width: 25px;
  }

  .dob-year-dropdown, .dob-day-dropdown, .dob-month-dropdown {
    height: 323px;
    left: -17px;
    min-width: 85px;
    overflow: auto;
  }

  .dropdown-menu > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }

  .dob-day-dropdown {
    height: 144px;
    width: 327px;
    > li {
      display: inline-block;
      text-align: center;
    }

    text-align: left;
  }
  .dob-month-dropdown {
    height: 117px;
    width: 170px;
    > li {
      display: inline-block;
      text-align: center;
    }
    text-align: center;
  }

  .dob-year-dropdown {
    height: 165px;
    width: 310px;
    > li {
      display: inline-block;
      text-align: center;
    }
  }

  .dob-year {
    width: 50px;
  }
}
