/* all app scss styles here */
@import "forms";

.f-dropdown li.active {
  background: $smoke;
}

.ol-topstrip {
  background-color: $jet;
  background-image: url('../images/top-compass.jpg');
}
.row {
  background-color: $secondary-color;
}
.row.topnav {
    background-image: url("../images/indeximage.jpg");
    background-position: 0 -3px;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
  border-color: $brown;
}
.row.topnav .button-group {
  margin-top: 10px;
}
.row.topnav .button-group > li {
  margin: 0 -1px;
}
.row.topnav .button {
  padding: .7rem;
}

.vcard {
  font-size: 80%;
}

.resources {
  font-size: $small-font-size * 1.2;
}
footer p {
  font-size: .7rem;
}

//styles for client testimonials
.testimonials {
  font-size: 85%;
}
.testimonial {
  border: 1px solid $border-color-default;
  border-radius: 4px;
  font-style: italic;
  margin-bottom: 15px;
  padding: 3px 11px;
  width: 90%;
}
.testimonial .initial {
  margin-top: 6px;
  padding-right: 30px;
  text-align: right;
}

