form legend {
	background-color: transparent;
}

form legend .legend-action {
	position: absolute;
	right: 10px;
}

form fieldset {
  position: relative;
}

form button.small, form .button.small {
  padding: 4px; 
  border-radius: 6px;  
}
form button.small.right {
  position: absolute;
  top: -5px;
  right: 5px;
}

label label {
  float: right;
}
label label input[type=checkbox] {
  margin-bottom: 0;
}

input.ng-invalid {
	margin-bottom: 0;
}