<fieldset class="fieldset-section" ng-show="plan.dpoas && plan.dpoas.length > 0">
  <h2>Successor Agent for Medical Decisions</h2>
  <table width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Relation</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="poa in plan.dpoas track by $index">
        <td ng-bind="poa.name"></td>
        <td ng-bind="poa.address"></td>
        <td ng-bind="poa.phone"></td>
        <td ng-bind="poa.relationship"></td>
        <td>
          <div>
            <i class="glyphicon" ng-class="{'glyphicon-ok text-success': poa.clientAHCD, 'glyphicon-remove text-danger': !poa.clientAHCD}"></i>
            &nbsp;Client
          </div>
          <div>
            <i class="glyphicon" ng-class="{'glyphicon-ok text-success': poa.spouseAHCD, 'glyphicon-remove text-danger': !poa.spouseAHCD}"></i>
            &nbsp;Client
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <pre>{{plan.dpoas | json}}</pre> -->
</fieldset>
