<fieldset class="fieldset-section">
	<h2>Beneficiaries</h2>
	<table width="100%">
		<thead>
			<th width="20%">Name</th>
			<th>Relationship</th>
			<th>DOB</th>
			<th>Gender</th>
			<th class="text-center">Trustee?</th>
			<th class="text-center">Cash gift</th>
		</thead>
		<tbody>
			<tr ng-repeat="beneficiary in plan.beneficiaries track by $index">
				<td>{{beneficiary.firstName}} {{beneficiary.lastName}}</td>
				<td>{{beneficiary.relationship}}</td>
				<td>{{beneficiary.dob | date: 'MMM d, y'}}</td>
				<td>{{beneficiary.gender}}</td>
				<td class="text-center">
					<i 
						class="glyphicon" 
						ng-class="{'glyphicon-ok text-success': beneficiary.isTrustee, 'glyphicon-remove text-danger': !beneficiary.isTrustee}">
					</i>
				</td>
				<td class="text-center">{{(beneficiary.cashGift | currency: '$') || '--'}}</td>
			</tr>
		</tbody>	
	</table>
</fieldset>
<!-- <pre>{{plan.beneficiaries | json}}</pre> -->