<fieldset class="fieldset-section">
	<h2>Trustees</h2>
	<table width="100%">
		<thead>
			<th width="20%">Name</th>
			<th>Relation</th>
			<th>Gender</th>
			<th>Address</th>
			<th>Phone</th>
		</thead>
		<tbody>
			<tr ng-repeat="beneficiary in plan.beneficiaries | filter: {isTrustee: true} track by $index">
				<td>{{beneficiary.firstName}} {{beneficiary.lastName}}</td>
				<td>{{beneficiary.relationship}}</td>
				<td>{{beneficiary.gender}}</td>
				<td>{{beneficiary.address}}</td>
				<td>{{beneficiary.phone}}</td>
			</tr>
			<tr ng-repeat="trustee in plan.trustees track by $index">
				<td>{{trustee.name}}</td>
				<td>{{trustee.relationship}}</td>
				<td>{{trustee.gender}}</td>
				<td>{{trustee.address}}</td>
				<td>{{trustee.phone}}</td>
			</tr>
		</tbody>	
	</table>
</fieldset>
<!-- <pre>{{plan.beneficiaries | json}}</pre> -->