<fieldset>
	<legend>Spouse</legend>
	<div class="row">
		<div class="col-md-6 form-group">
			<label for="spouseFname">First Name</label>
			<input ng-model="plan.spouse.firstName" type="text" class="form-control" ng-class="{'text-uppercase': capNames}" placeholder="First Name" id="clientFname">
		</div>
		<div class="col-md-6 form-group">
			<label for="spouseLname">Last Name</label>
			<input ng-model="plan.spouse.lastName" type="text" class="form-control" ng-class="{'text-uppercase': capNames}" placeholder="Last Name" id="clientLname">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 form-group">
			<label for="spouseDob">Date of birth</label>
			<p class="input-group">
				<input 
					id="spouseDob"
					type="text" 
					class="form-control" 
					datepicker-popup="dd-MMM-yyyy" 
					ng-model="plan.spouse.dob" 
					is-open="datepicker.spouse" 
					date-disabled="disabled(date, mode)" 
					datepicker-options="dateOptions"
					ng-required="true" 
					close-text="Close" 
					ng-click="datepicker.open($event, 'spouse')"
					>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="datepicker.open($event, 'spouse')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="col-md-4 form-group">
			<label class="vertical-align">Home Owner?&nbsp;<input ng-model="plan.spouse.isOwner" type="checkbox"></label>
		</div>
		<div class="col-md-4 form-group">
			<label class="vertical-align">US Citizen? <input ng-model="plan.spouse.isCitizen" type="checkbox"></label>
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 form-group">
			<label for="spouseEmail">Email</label>
			<input ng-model="plan.spouse.email" type="email" class="form-control" id="clientEmail">
		</div>
		<div class="col-md-6 form-group">
			<label for="spousePhone">Phone </label>
			<input ng-model="plan.spouse.phone" type="text" class="form-control" id="clientPhone">
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 form-group">
			<label for="spouseAddress">Address</label>
			<input ng-model="plan.spouse.address" type="text" class="form-control" id="clientAddress" googleplace>
		</div>
		<div class="col-md-4 form-group">
			<label class="vertical-align">Same as client?&nbsp;<input ng-change="makeSameAddress()" ng-model="plan.spouse.sameAddr" type="checkbox"></label>
		</div>
	</div>
</fieldset>		