
<fieldset class="fieldset-section">
	<legend>
		<span>Guardianship For Minor Children Younger Than 18</span>
		<span class="legend-action">
			<button type="button" ng-click="guardianshipForm.$valid && addGuardian()" class="btn btn-default btn-xs">
				<i class="glyphicon glyphicon-plus"></i> Add
			</button>
		</span>
	</legend>
	<ng-form name="guardianshipForm">
		<ng-form name="guardianForm" ng-repeat="guardian in plan.guardians track by $index">
			<div class="row" ng-mouseenter="guardian.showMoveRemove = true" ng-mouseleave="guardian.showMoveRemove = false">
				<div class="col-md-6">
					<div>
						<div>
							<label>Name</label>
							<small class="text-muted">Will a spouse or partner be co-guardian? 
								<input type="checkbox" ng-model="guardian.isCoGuardian"> 
								<i 
									class="glyphicon glyphicon-question-sign" 
									popover-append-to-body="true" 
									popover-placement="top" 
									popover="Check this box if this guardian has a spouse or partner that will also be a co-guardian">
								</i>
							</small>
							<small class="text-muted" style="margin-left: 12px;">Preferred? 
								<input type="checkbox" ng-model="guardian.isPreferred" ng-click="checkPreferred()"> 
								<i 
									class="glyphicon glyphicon-question-sign" 
									popover-append-to-body="true" 
									popover-placement="top" 
									popover="In case of co-guardian divorce/death the preferred guardian will remain as sole guardian, otherwise, will transfer to the next guardianship">
								</i>
							</small>
							<small class="text-muted" style="margin-left: 12px;">Temporary? 
								<input type="checkbox" ng-model="guardian.isTemporary"> 
								<i 
									class="glyphicon glyphicon-question-sign" 
									popover-append-to-body="true" 
									popover-placement="top" 
									popover="(Optional) This guardian shall take care of your minor children temporarily while the permanent guardian travels from out-of-state or out-of-country to pick them up">
								</i>
							</small>
						</div>
						<input ng-model="guardian.name" to-uppercase type="text" class="form-control">
					</div>
					<div>
						<label>Address</label>
						<input ng-model="guardian.address" type="text" googleplace class="form-control">
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Phone</label>
							<input type="phone" ng-model="guardian.phone" class="form-control">
						</div>
						<div class="col-md-6">
							<label>Relation</label>
							<input type="text" ng-model="guardian.relationship" typeahead="r for r in relationships | filter:$viewValue:emptyOrMatch" typeahead-focus class="form-control">
						</div>
					</div>
				</div>

				<div class="col-md-5" ng-show="guardian.isCoGuardian">
					<div>
						<div>
							<label>Name</label>
							<small class="text-muted">Preferred? 
								<input type="checkbox" ng-model="guardian.spouse.isPreferred" ng-click="checkPreferred('spouse')"> 
								<i 
									class="glyphicon glyphicon-question-sign" 
									popover-append-to-body="true" 
									popover-placement="top" 
									popover="In case of co-guardian divorce/death the preferred guardian will remain as sole guardian, otherwise, will transfer to the next guardianship">
								</i>
							</small>
						</div>
						<input ng-model="guardian.spouse.name" to-uppercase type="text" class="form-control">
					</div>
					<div>
						<label>Address</label>
						<input ng-model="guardian.spouse.address" type="text" googleplace class="form-control">
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Phone</label>
							<input type="phone" ng-model="guardian.spouse.phone" class="form-control">
						</div>
						<div class="col-md-6">
							<label>Relation</label>
							<input type="text" ng-model="guardian.spouse.relationship" typeahead="r for r in relationships | filter:$viewValue:emptyOrMatch" typeahead-focus class="form-control">
						</div>
					</div>
				</div>

				<div class="col-md-1 form-group" ng-class="{hide: !guardian.showMoveRemove}">
					<label ng-show="$index > 0">
						<i class="glyphicon glyphicon-chevron-up text-muted" ng-click="moveUp('guardians', $index)"></i>
					</label>
					<label>
						<i class="glyphicon glyphicon-remove" ng-click="removeGuardian()"></i>
					</label>
				</div>

				
				<!-- <div class="col-md-1">
					<label><i ng-click="removeGuardian()" class="glyphicon glyphicon-remove"></i></label>
				</div> -->
			</div>
			<hr>
		</ng-form>
	</ng-form>
</fieldset>