<fieldset>
	<legend>Client</legend>
	<div class="row">
		<div class="col-md-6 form-group" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientFname.$error.required}">
			<label for="clientFname">First Name</label>
			<input ng-model="plan.client.firstName" type="text" name="clientFname" required class="form-control" ng-class="{'text-uppercase': capNames}" placeholder="First Name" id="clientFname">
		</div>
		<div class="col-md-6 form-group" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientLname.$error.required}">
			<label for="clientLname">Last Name</label>
			<input ng-model="plan.client.lastName" type="text" name="clientLname" required class="form-control" ng-class="{'text-uppercase': capNames}" placeholder="Last Name" id="clientLname">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 form-group" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientDob.$error.required}">
			<label for="clientDob">Date of birth</label>
			<!-- <input ng-model="plan.client.dob" type="date" class="form-control" id="clientDob"> -->
			<p class="input-group">
				<input 
					name="clientDob" 
					id="clientDob"
					type="text" 
					class="form-control" 
					datepicker-popup="dd-MMM-yyyy" 
					ng-model="plan.client.dob" 
					is-open="datepicker.client" 
					date-disabled="disabled(date, mode)" 
					datepicker-options="dateOptions"
					ng-required="true" 
					close-text="Close" 
					ng-click="datepicker.open($event, 'client')"
					>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="datepicker.open($event, 'client')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="col-md-4 form-group">
			<label class="vertical-align">Home Owner?&nbsp;<input ng-model="plan.client.isOwner" type="checkbox"></label>
		</div>
		<div class="col-md-4 form-group">
			<label class="vertical-align">US Citizen? <input ng-model="plan.client.isCitizen" type="checkbox"></label>
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 form-group" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientEmail.$invalid}">
			<label for="clientEmail">Email</label>
			<input ng-model="plan.client.email" type="email" name="clientEmail" required class="form-control" id="clientEmail">
		</div>
		<div class="col-md-6 form-group" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientPhone.$error.required}">
			<label for="clientPhone">Phone </label>
			<input ng-model="plan.client.phone" phone-input type="text" name="clientPhone" required class="form-control" id="clientPhone">
			<div class="text-help" ng-bind="plan.client.phone | tel"></div>
			<div class="text-help" ng-bind="plan.client.phone"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 form-group" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientAddress.$error.required}">
			<label for="clientAddress">Address</label>
			<input ng-model="plan.client.address" type="text" name="clientAddress" required class="form-control" id="clientAddress" googleplace>
		</div>
	</div>
	
</fieldset>
<!-- <pre>{{plan.client.address }}</pre> -->