<table width="100%">
  <tbody>
    <tr>
      <td width="48%">
        <ng-include src="'views/estateplan/_estateplan_preview_Client.html'"></ng-include>
      </td>
      <td width="48%">
        <ng-include src="'views/estateplan/_estateplan_preview_Spouse.html'"></ng-include>
      </td>
    </tr> 
  </tbody>
</table>
	
<ng-include src="'views/estateplan/_estateplan_preview_Beneficiaries.html'"></ng-include>

<ng-include src="'views/estateplan/_estateplan_preview_Trustees.html'"></ng-include>

<ng-include src="'views/estateplan/_estateplan_preview_Distribution.html'"></ng-include>

<ng-include src="'views/estateplan/_estateplan_preview_Guardianship.html'"></ng-include>

<ng-include src="'views/estateplan/_estateplan_preview_PowerOfAttorney.html'"></ng-include>
<!--
<ng-include src="'views/estateplan/_estateplan_preview_HealthCareProvisions.html'"></ng-include>

<ng-include src="'views/estateplan/_estateplan_preview_Burial.html'"></ng-include>

<ng-include src="'views/estateplan/_estateplan_preview_RentalProperty.html'"></ng-include>

<ng-include src="'views/estateplan/_estateplan_preview_Stocks.html'"></ng-include>

<ng-include src="'views/estateplan/_estateplan_preview_PrevMarriage.html'"></ng-include>

<ng-include src="'views/estateplan/_estateplan_preview_PrevPlan.html'"></ng-include>

<ng-include src="'views/estateplan/_estateplan_preview_Notes.html'"></ng-include>
-->