<fieldset>
	<legend>Client</legend>
	<div class="row">
		<div class="col-md-6 form-group required" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientFname.$error.required}">
			<label for="clientFname" class="control-label">First Name</label>
			<input ng-model="plan.client.firstName" to-uppercase type="text" name="clientFname" required class="form-control"  placeholder="First Name" id="clientFname">
		</div>
		<div class="col-md-6 form-group required" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientLname.$error.required}">
			<label for="clientLname" class="control-label">Last Name</label>
			<input ng-model="plan.client.lastName" to-uppercase type="text" name="clientLname" required class="form-control" placeholder="Last Name" id="clientLname">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 form-group required" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientDob.$error.required}">
			<label for="clientDob" class="control-label">Date of birth</label>
			<dob-input dob="plan.client.dob"></dob-input>
		</div>
		<div class="col-md-4 form-group">
			<label class="vertical-align">Home Owner&nbsp;<input ng-model="plan.client.isOwner" type="checkbox"></label>
		</div>
		<div class="col-md-4 form-group">
			<label class="vertical-align">US Citizen&nbsp;<input ng-model="plan.client.isCitizen" type="checkbox"></label>
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 form-group required" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientEmail.$invalid}">
			<label for="clientEmail" class="control-label">Email</label>
			<input ng-model="plan.client.email" type="email" name="clientEmail" required class="form-control" id="clientEmail">
		</div>
		<div class="col-md-6 form-group required" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientPhone.$error.required}">
			<label for="clientPhone" class="control-label">Phone</label>
			<input ng-model="plan.client.phone" phone-input type="text" name="clientPhone" required class="form-control" id="clientPhone">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 form-group required" ng-class="{'has-error': estateplanForm.$submitted && estateplanForm.clientAddress.$error.required}">
			<label for="clientAddress" class="control-label">Address</label>
			<input ng-model="plan.client.address" type="text" name="clientAddress" required class="form-control" id="clientAddress" googleplace>
		</div>
	</div>
	
</fieldset>
<!-- <pre>{{plan.client | json }}</pre> -->