<fieldset class="fieldset-section">
	<legend>
		<span>Successor Trustee / Executor</span>
		<span class="legend-action">
			<button type="button" ng-click="addTrustee()" class="btn btn-default btn-xs">
				<i class="glyphicon glyphicon-plus"></i> Add
			</button>
		</span>
	</legend>
	<p>
		You and your spouse are each other's initial trustees, guardians, and agents for durable power of attorney. You can nominate your adult children / beneficiaries / foreign residents as successor trustees.
	</p>
	<fieldset >
		<div class="row">
			<div class="col-md-3 form-group"><label>Successor Trustee's Name</label></div>
			<div class="col-md-1 form-group"><label>Relationship</label></div>
			<div class="col-md-1 form-group"><label>Gender</label></div>
			<div class="col-md-4 form-group"><label>Address</label></div>
			<div class="col-md-2 form-group"><label>Phone</label></div>
			<div class="col-md-1 form-group">&nbsp;</div>
		</div>
		<div class="row animate-repeat" ng-repeat="beneficiary in plan.beneficiaries | filter: {isTrustee: true}" ng-mouseenter="beneficiary.showRemoveT = true" ng-mouseleave="beneficiary.showRemoveT = false">
			<div class="col-md-3 form-group" ng-class="{'text-uppercase': capNames}">{{beneficiary.firstName}} {{beneficiary.lastName}}</div>
			<div class="col-md-1 form-group"><span>{{beneficiary.relationship}}</span></div>
			<div class="col-md-1 form-group"><span>{{beneficiary.gender}}</span></div>
			<div class="col-md-4 form-group"><input ng-model="beneficiary.address" type="text" googleplace class="form-control"></div>
			<div class="col-md-2 form-group"><input ng-model="beneficiary.phone" type="text" class="form-control"></div>
			<div class="col-md-1 form-group">
				<label ng-click="beneficiary.isTrustee = false">
					<i class="glyphicon" ng-class="{'glyphicon-remove': beneficiary.showRemoveT}"></i>
				</label>
			</div>
		</div>
	</fieldset>
	<fieldset class="animate-repeat" ng-repeat="trustee in plan.trustees">
		<div class="row" ng-mouseenter="trustee.showRemove = true" ng-mouseleave="trustee.showRemove = false">
			<div class="col-md-3 form-group">
				<!-- <label>Successor Trustee's Name</label> -->
				<input ng-model="trustee.name" to-uppercase type="text" class="form-control">
			</div>
			<div class="col-md-1 form-group">
				<input type="text" ng-model="trustee.relationship" typeahead="r for r in relationships | filter:$viewValue:emptyOrMatch"  typeahead-focus class="form-control">
			</div>
			<div class="col-md-1 form-group">
				<label>
					<input ng-model="trustee.gender" type="radio" value="male"> M
				</label>
				<label>
					<input ng-model="trustee.gender" type="radio" value="female"> F
				</label>
			</div>
			<div class="col-md-4 form-group">
				<!-- <label class="right inline">Address</label> -->
				<input ng-model="trustee.address" type="text" googleplace class="form-control">
			</div>
			<div class="col-md-2 form-group"><input ng-model="trustee.phone" type="text" class="form-control"></div>
			<div class="col-md-1 form-group">
				<label ng-click="removeTrustee()">
					<i class="glyphicon" ng-class="{'glyphicon-remove': trustee.showRemove}"></i>
				</label>
		</div>
	</fieldset>
</fieldset>