<fieldset class="fieldset-section">
	<legend>
		<span>Beneficiaries (Children)</span>
		<span class="legend-action">
			<button type="button" ng-click="beneficiariesForm.$valid && addBeneficiary()" class="btn btn-default btn-xs">
				<i class="glyphicon glyphicon-plus"></i> Add
			</button>
		</span>
	</legend>
	<p>
		Estate will be distributed equally between benefeciaries unless a cash gift is specified. Any cash gifts will be deducted from the total before equal distribution to all other beneficiaries.
	</p>
	<ng-form name="beneficiariesForm">
		<div class="row form-header">
			<div class="col-md-2"><label>First Name</label></div>
			<div class="col-md-2"><label>Last Name</label></div>
			<div class="col-md-2"><label>Relationship</label></div>
			<div class="col-md-2"><label>DOB</label></div>
			<div class="col-md-1 text-center"><label>M / F</label></div>
			<div class="col-md-1 text-center"><label>Trustee</label></div>
			<div class="col-md-1" popover-append-to-body="true" popover-placement="top" popover="Specifying a cash gift for a beneficiary means that that beneficiary will receive the cash amount. The rest of the beneficiaries will receive equal distributions of what is left after the cash gift was distributed.">
				<label>Gift?</label>&nbsp;
				<i class="glyphicon glyphicon-info-sign"></i>
			</div>
			<div class="col-md-1"><label><i class="fa fa-close right"></i></label></div>
		</div>
		<div class="animate-repeat" ng-repeat="beneficiary in plan.beneficiaries track by $index">
			<ng-form name="beneficiaryForm">
				<div class="row" ng-mouseenter="beneficiary.showRemove = true" ng-mouseleave="beneficiary.showRemove = false">
					<div class="col-md-2 form-group">
						<input ng-model="beneficiary.firstName" to-uppercase type="text" class="form-control">
					</div>
					<div class="col-md-2 form-group">
						<input ng-model="beneficiary.lastName" to-uppercase type="text" class="form-control">
					</div>
					<div class="col-md-2 form-group">
						<input type="text" ng-model="beneficiary.relationship" typeahead="r for r in relationships | filter:$viewValue:emptyOrMatch" typeahead-focus class="form-control">
					</div>
					<div class="col-md-2 form-group">
						<input 
							type="text" 
							class="form-control" 
							datepicker-popup="dd-MMM-yyyy" 
							ng-model="beneficiary.dob" 
							is-open="datepicker['b' + $index]" 
							date-disabled="disabled(date, mode)" 
							datepicker-options="dateOptions" 
							close-text="Close" 
							ng-click="datepicker['b' + $index] = true"
							ng-change="beneficiary.isMinor = false"
							>
					</div>
					<div class="col-md-1 form-group text-center">
						<input ng-model="beneficiary.gender" type="radio" value="male">&nbsp;&nbsp;
						<input ng-model="beneficiary.gender" type="radio" value="female">
					</div>
					<div class="col-md-1 form-group text-center">
						<div ng-hide="beneficiary.isMinor">&nbsp;&nbsp;<input ng-model="beneficiary.isTrustee" ng-change="checkBeneficiaryAge()" type="checkbox"></div>
						<div class="text-danger" ng-show="beneficiary.isMinor"><small>Under 18</small></div>
					</div>
					<div class="form-group col-md-1 text-center form-group">
						<input type="checkbox" ng-model="beneficiary.giftDistribution">
					</div>
					<div class="col-md-1 form-group">
						<label><i ng-click="removeBeneficiary()" class="glyphicon" ng-class="{'glyphicon-remove': beneficiary.showRemove}"></i></label>
					</div>
				</div>
				<div class="row" ng-show="beneficiary.giftDistribution" >
					<div class="col-md-8"></div>
					<div class="input-group form-group col-md-3">
      			<div class="input-group-addon">$</div>
						<input ng-model="beneficiary.cashGift" type="text" class="form-control">
					</div>
					<div class="col-md-1"></div>
				</div>
			</ng-form>
		</div>
	</ng-form>
</fieldset>
<!-- <pre>{{plan.beneficiaries | json}}</pre> -->