<fieldset class="fieldset-section">
	<legend>
		<span>Successor Agent for Medical Decisions</span>
		<span class="legend-action">
			<button type="button" ng-click="dpoasForm.$valid && addPoa()" class="btn btn-default btn-xs">
				<i class="glyphicon glyphicon-plus"></i> Add
			</button>
		</span>
	</legend>
	<p>Only fill-in if you want someone <u class="text-underline">different</u> than the Successor Trustee(s)</span></p>
	<ng-form name="dpoasForm">
		<ng-form name="poaForm" ng-repeat="poa in plan.dpoas track by $index">
			<div class="row" ng-mouseenter="poa.showRemove = true" ng-mouseleave="poa.showRemove = false">
				<div class="col-md-3 form-group">
					<label>Name</label>
					<input ng-model="poa.name" to-uppercase type="text" class="form-control">
				</div>
				<div class="col-md-3 form-group">
					<label>Address</label>
					<input ng-model="poa.address" googleplace type="text" class="form-control">
				</div>
				<div class="col-md-2 form-group">
					<label>Phone</label>
					<input ng-model="poa.phone" type="text" class="form-control">
				</div>
				<div class="col-md-2 form-group">
					<label>Relation</label>
					<input type="text" ng-model="poa.relationship" typeahead="r for r in relationships | filter:$viewValue:emptyOrMatch" typeahead-focus class="form-control">
				</div>
				<div class="col-md-1 form-group form-group-2cb">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="poa.clientAHCD" aria-label="...">Client
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="poa.spouseAHCD" aria-label="...">Spouse
						</label>
					</div>
				</div>
				<div class="col-md-1 form-group">
					<label>&nbsp;</label>
					<div>
						<label><i ng-click="removePoa()" class="glyphicon" ng-class="{'glyphicon-remove': poa.showRemove}"></i></label>
					</div>
				</div>
			</div>
		</ng-form>
	</ng-form>
	<!-- <pre>{{plan.dpoas | json}}</pre> -->
</fieldset>
