<fieldset>
	<legend>Client</legend>
	<div class="row">
		<div class="col-md-6">
			<label for="clientFname">First Name</label>	
		</div>
		<div class="col-md-6">
			<label for="clientLname">Last Name<label>US Citizen?&nbsp;<input ng-model="plan.client.isCitizen" type="checkbox"></label></label>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<input ng-model="plan.client.firstName" type="text" placeholder="First Name" id="clientFname">
		</div>
		<div class="col-md-6">
			<input ng-model="plan.client.lastName" type="text" placeholder="Last Name" id="clientLname">
		</div>
	</div>
		
	<div class="row">
		<div class="col-md-6">
			<label>Date of birth<input ng-model="plan.client.dob" type="date"></label>
		</div>
		<div class="col-md-6">
			<label>Phone <input ng-model="plan.client.phone" type="text"></label>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label for="clientAddress">Address <label>Owner?&nbsp;<input ng-model="plan.client.isOwner" type="checkbox"></label></label><input ng-model="plan.client.address" type="text" id="clientAddress" googleplace>
		</div>
	</div>
	<label>Email <input ng-model="plan.client.email" type="email"></label>
</fieldset>