
<fieldset class="fieldset-section">
	<legend>
		<span>Guardianship For Minor Children Younger Than 18</span>
		<span class="legend-action">
			<button type="button" ng-click="guardianshipForm.$valid && addGuardian()" class="btn btn-default btn-xs">
				<i class="glyphicon glyphicon-plus"></i> Add
			</button>
		</span>
	</legend>
	<ng-form name="guardianshipForm">
		<ng-form name="guardianForm" ng-repeat="guardian in plan.guardians track by $index">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>
							Name&nbsp;
							<small>Will a spouse or partner be co-guardian? 
								<input type="checkbox" ng-model="guardian.isCoGuardian"> 
								 <i class="glyphicon glyphicon-question-sign"></i>
							</small>
						</label>
						<input ng-model="guardian.name" name="name" required ng-model-options="{updateOn: ' blur'}" type="text" class="form-control">
						<small ng-show="guardianForm.name.$touched && guardianForm.name.$error.required" class="error">Required Field</small>
					</div>
					<div class="form-group">
						<label>Address</label>
						<input ng-model="guardian.address" type="text" googleplace class="form-control">
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<label>Phone</label>
							<input type="phone" ng-model="guardian.phone" class="form-control">
						</div>
						<div class="col-md-6">
							<label>Relationship</label>
							<input type="text" ng-model="guardian.relationship" typeahead="r for r in relationships | filter:$viewValue:emptyOrMatch" typeahead-focus class="form-control">
						</div>
					</div>
				</div>

				<div class="col-md-6" ng-show="guardian.isCoGuardian">
					<div class="form-group">
						<label>Name</label>
						<input ng-model="guardian.spouse.name" name="spouseName" ng-model-options="{updateOn: ' blur'}" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Address</label>
						<input ng-model="guardian.spouse.address" type="text" googleplace class="form-control">
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							<label>Phone</label>
							<input type="phone" ng-model="guardian.spouse.phone" class="form-control">
						</div>
						<div class="col-md-6">
							<label>Relationship</label>
							<input type="text" ng-model="guardian.spouse.relationship" typeahead="r for r in relationships | filter:$viewValue:emptyOrMatch" typeahead-focus class="form-control">
						</div>
					</div>
				</div>
				
				<!-- <div class="col-md-1">
					<label><i ng-click="removeGuardian()" class="glyphicon glyphicon-remove"></i></label>
				</div> -->
			</div>
			<hr>
		</ng-form>
	</ng-form>
</fieldset>