<fieldset class="fieldset-section">
	<legend>
		<span>Previous Estate Plan</span>
		<span class="legend-action">
			<button ng-click="prevPlansForm.$valid && addPrevPlan()" class="btn btn-default btn-xs">
				<i class="glyphicon glyphicon-plus"></i> Add
			</button>
		</span>
	</legend>
	<ng-form name="prevPlansForm">
		<div class="row form-header"> 
			<div class="col-md-5"><label>Trust Name</label></div>
			<div class="col-md-2"><label>Signing Date</label></div>
			<div class="col-md-4"><label>Signing Location</label></div>
			<div class="col-md-1"></div>
		</div>
		<div class="row" ng-repeat="p in plan.prevPlans track by $index">
			<ng-form name="prevPlan">
				<div class="col-md-5">
					<input ng-model="p.trustName" name="trustName" required ng-model-options="{updateOn: ' blur'}" type="text" class="form-control">
					<small ng-show="prevPlan.trustName.$touched && prevPlan.trustName.$error.required" class="error">Required Field</small>
				</div>
				<div class="col-md-2">
					<input 
						type="text" 
						class="form-control" 
						datepicker-popup="dd-MMM-yyyy" 
						ng-model="p.signingDate" 
						is-open="datepicker['pp' + $index]" 
						date-disabled="disabled(date, mode)" 
						datepicker-options="dateOptions"
						ng-required="true" 
						close-text="Close" 
						ng-click="datepicker['pp' + $index] = true">
					<small ng-show="prevPlan.signingDate.$touched && prevPlan.signingDate.$error.required" class="error">Required Field</small>
				</div>
				<div class="col-md-4">
					<input ng-model="p.signingLocation" name="signingLocation" required ng-model-options="{updateOn: ' blur'}" type="text" class="form-control">
					<small ng-show="prevPlan.signingLocation.$touched && prevPlan.signingLocation.$error.required" class="error">Required Field</small>
				</div>
				<div class="col-md-1"><label><i ng-click="removePrevPlan()" class="glyphicon glyphicon-remove"></i></label></div>
			</ng-form>
		</div>
	</ng-form>
</fieldset>