<h1>Areas Of Practice</h1>

<section>
	<h2>Estate Planning</h2>
	<ul>
		<li>Trust and Will Drafting</li>
		<li>Estate Planning</li>
		<li>Advance Health Care Directive (Living Will), Durable Power of Attorney</li>
	</ul>
	<a ui-sref="areas.trusts">Questions and Answers</a>
</section>

<section>
	<h2>Litigation and Mediation</h2>
	<ul>
		<li>Negotiations before and during litigation</li>
		<li>Breach of Contract, Real Estate, Business litigation</li>
		<li>California board certified mediator</li>
	</ul>
</section>

<section>
	<h2>Business Formation and Advice</h2>
	<ul>
		<li>California Corporate and LLC formation</li>
		<li>Contract review</li>
		<li>Purchase agreement negotiations</li>
	</ul>
	<a ui-sref="areas.corp">Questions and Answers</a></div>
</section>

