<h1>Contact Us</h1>

<div class="row">
<!-- 	<div class="col-md-3">
		<form name="contact_frm" action="/includes/f2m.php" id="contact-form">
			<fieldset>
				<div><label for="Name">Your&nbsp;Name:</label><br /><input class="required" name="Name" id="Name" type="text" /></div>
				<div><label for="Phone">Phone&nbsp;Number:</label><br /><input class="required" name="Phone" id="Phone" type="text" /></div>
				<div><label for="Email">Email&nbsp;Address:</label><br /><input class="required" name="Email" id="Email" type="text" /></div>
				<div><label for="Comments">Comments:</label><br /><textarea name="comments" cols="15" rows="4" style="overflow: auto;" id="Comments"></textarea></div>
				<div><button value="Send" onclick="return(validateForm(document.contact_frm));">Send</button></div>
			</fieldset>
			<div><input class="required" id="txtCaptcha" name="txtCaptcha" maxlength="10" type="text" /><br /><span style="font-size: 90%; font-weight: normal;"><label for="txtCaptcha">Please type in the below code.</label></span><br /> <img id="imgCaptcha" src="/includes/create-image.php" /></div>
			<div id="response">&nbsp;</div>
		</form>
	</div> -->
	<div class="col-md-12">
		<!-- South Bay location -->
		<h2>Cupertino</h2>
		<div>
			<div><strong><a class="tel-unstyled" href="tel:14082524911">(408) 252-4911</a></strong>
				<p><a href="mailto:dohel@ohellaw.com">dohel@OhelLaw.com</a></p>
				<p>19925 Stevens Creek Blvd., Ste. 100, Cupertino, CA 95014</p>
			</div>
		</div>
		<div>
		    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.8034710646516!2d-122.0215959!3d37.32348269999861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb5a6aa1ebae9%3A0x1406ea65fbcdf9fb!2s19925+Stevens+Creek+Blvd+%23100!5e0!3m2!1sen!2sus!4v1399328919854" width="600" height="450" frameborder="0" style="border:0"></iframe>
		</div>
		<!-- East Bay Location -->
		<h2 style="margin-top: 30px;">Fremont</h2>
		<div>
			<div><strong><a class="tel-unstyled" href="tel:15107951725">(510) 795-1725</a></strong>
			<p><a href="mailto:dohel@ohellaw.com">dohel@OhelLaw.com</a></p>
			<p>39300 Civic Center Drive, Ste. 110, Fremont, CA 94538 (Fremont BART Station Accessible)</p>
			</div>
		</div>
		<div>
			<iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=+39300+Civic+Center+Drive,+Suite+110,+Fremont,+CA+94538&amp;ie=UTF8&amp;hq=&amp;hnear=39300+Civic+Center+Dr+%23110,+Fremont,+California+94538&amp;t=m&amp;z=14&amp;vpsrc=0&amp;ll=37.554668,-121.976839&amp;output=embed"></iframe>
		</div>
		<!-- Penisula Location -->
		<h2 style="margin-top: 30px;">San Mateo</h2>
		<div>
			<div><strong><a class="tel-unstyled" href="tel:16505233527">(650) 523-3527</a></strong>
			<p><a href="mailto:dohel@ohellaw.com">dohel@OhelLaw.com</a></p>
			<p>120 North El Camino Real, San Mateo, CA 94401</p>
			</div>
		</div>
		<div>              
			<iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=120+North+El+Camino+Real,+San+Mateo,+CA+94401&amp;aq=&amp;sll=37.269174,-119.306607&amp;sspn=9.333541,19.138184&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=120+N+El+Camino+Real,+San+Mateo,+California+94401&amp;ll=37.567576,-122.33079&amp;spn=0.023811,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
		</div>
	</div><!-- end right column -->
</div>