<div class="dob-input form-control">
  <span class="dropdown" dropdown keyboard-nav>
    <span class="dropdown-toggle" dropdown-toggle>
      <input type="text" ng-model="dob.month" class="dob-month" placeholder="mon">
      <span class="caret"></span>
    </span>
    <ul class="dropdown-menu dob-month-dropdown">
      <li ng-repeat="month in months">
        <a href="" ng-click="onSelectMonth()" ng-bind="month"></a>
      </li>
    </ul>
    
  </span>
  <span class="dropdown" dropdown keyboard-nav>
    <span class="dropdown-toggle" dropdown-toggle>
      <input type="text" ng-model="dob.day" class="dob-day" placeholder="day">
      <span class="caret"></span>
    </span>
    <ul class="dropdown-menu dob-day-dropdown">
      <li ng-repeat="day in days[dob.month || 'Jan']">
        <a href="" ng-click="onSelectDay()" ng-bind="day"></a>
      </li>
    </ul>
  </span>
  <span>
    <input type="text" ng-model="dob.year" maxlength="4" class="dob-year" placeholder="year">
  </span>
</div>
