<div class="row ol-topstrip">
	<div class="large-3 columns">
		<h1><img border="0" alt="Law Offices Of Doron Ohel, A Professional Corporation" src="images/lawoffices.gif"></h1>
	</div>
	<div class="large-9 columns">
		
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h1>Estate Planning Questionnaire</h1>
		<form target="_blank" onsubmit="return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);">
		  <fieldset>
		    <legend>Basic Info</legend>
		    <fieldset>
		      <legend>Husband</legend>
		      <div>
		        <label>First Name</label>
		        <div>
		          <input type="text">
		          <span>First Name</span>
		        </div>
		        <label>Last Name</label>
		        <div>
		          <input type="text">
		          <span>Last name</span>
		        </div>
		        <label>US Citizen?</label>
		        <div>
		          <input type="checkbox">
		        </div>
		      </div>
		      <div>
		        <label>Date of birth</label>
		        <div>
		          <input type="text">
		        </div>
		        <label>Phone</label>
		        <div>
		          <input type="text">
		        </div>
		      </div>
		      <div>
		        <label>Address</label>
		        <div>
		          <input type="text">
		        </div>
		        <label>Owner?</label>
		        <div>
		          <input type="checkbox">
		        </div>
		      </div>
		      <div>
		        <label>City</label>
		        <div>
		          <input type="text">
		        </div>
		        <label>State</label>
		        <div>
		          <select>
		          </select>
		        </div>
		        <label>Zip</label>
		        <div>
		          <input type="text">
		        </div>
		      </div>
		      <div>
		        <label>Email</label>
		        <div>
		          <input type="email">
		        </div>
		      </div>
		
		    </fieldset>
		
		    <fieldset>
		      <legend>Wife</legend>
		      <div>
		        <label>First Name</label>
		        <div>
		          <input type="text">
		          <span>First Name</span>
		        </div>
		        <label>Last Name</label>
		        <div>
		          <input type="text">
		          <span>Last name</span>
		        </div>
		        <label>US Citizen?</label>
		        <div>
		          <input type="checkbox">
		        </div>
		      </div>
		      <div>
		        <label>Date of birth</label>
		        <div>
		          <input type="text">
		        </div>
		        <label>Phone</label>
		        <div>
		          <input type="text">
		        </div>
		      </div>
		      <div>
		        <div>
		          <input type="checkbox">
		          <span>Same as husband?</span>
		        </div>
		        <label>Address</label>
		        <div>
		          <input type="text">
		        </div>
		        <label>Owner?</label>
		        <div>
		          <input type="checkbox">
		        </div>
		      </div>
		      <div>
		        <label>City</label>
		        <div>
		          <input type="text">
		        </div>
		        <label>State</label>
		        <div>
		          <select>
		          </select>
		        </div>
		        <label>Zip</label>
		        <div>
		          <input type="text">
		        </div>
		      </div>
		      <div>
		        <label>Email</label>
		        <div>
		          <input type="email">
		        </div>
		      </div>
		    </fieldset>
		  </fieldset>
		
		  <fieldset>
		    <legend>
		      <button>Add Child</button>
		      <span>Children</span>
		    </legend>
		    <div>
		      <div>18+</div>
		      <div>First Name</div>
		      <div>Last Name</div>
		      <div>DOB</div>
		      <div>M</div>
		      <div>F</div>
		      <div>Remove</div>
		    </div>
		    <div>
		      <div><input type="checkbox"></div>
		      <div><input type="text"></div>
		      <div><input type="text"></div>
		      <div><input type="text"></div>
		      <div><input type="radio"></div>
		      <div><input type="radio"></div>
		      <div><i></i></div>
		    </div>
		  </fieldset>
		
		  <fieldset>
		    <legend>
		      <button>Add Beneficiary</button>
		      <span>Other Beneficiaries</span>
		    </legend>
		    <div>
		      <div> </div>
		      <div>First Name</div>
		      <div>Last Name</div>
		      <div>DOB</div>
		      <div>M</div>
		      <div>F</div>
		      <div>Remove</div>
		    </div>
		    <div>
		      <div>{{$index + 1}})</div>
		      <div><input type="text"></div>
		      <div><input type="text"></div>
		      <div><input type="text"></div>
		      <div><input type="radio"></div>
		      <div><input type="radio"></div>
		      <div><i></i></div>
		    </div>
		  </fieldset>
		
		  <fieldset>
		    <legend> </legend>
		    <div>
		      <button type="submit">Save</button>
		    </div>
		    <div>
		      <button type="button">Cancel</button>
		    </div>
		  </fieldset>
		</form>
		<pre>{{plan.husband | json}}</pre>
		<pre>{{plan.wife | json}}</pre>
	</div>
</div>