

<!-- <form ng-submit="estateplanForm.$valid && save()" name="estateplanForm" novalidate class="estateplan"> -->
<form ng-submit="save()" name="estateplanForm" novalidate class="estateplan">
	<h1>Estate Planning Questionnaire</h1>
	<div class="row">
		<div class="col-md-6">
			<ng-include src="'views/_estateplanClient.html'"></ng-include>
		</div>
		<div class="col-md-6">
			<ng-include src="'views/_estateplanSpouse.html'"></ng-include>
		</div>	
	</div>
		
	<ng-include src="'views/_estateplanBeneficiaries.html'"></ng-include>

	<ng-include src="'views/_estateplanTrustees.html'"></ng-include>

	<ng-include src="'views/_estateplanDistribution.html'"></ng-include>

	<ng-include src="'views/_estateplanGuardianship.html'"></ng-include>

	<ng-include src="'views/_estateplanPowerOfAttorney.html'"></ng-include>

	<ng-include src="'views/_estateplanHealthCareProvisions.html'"></ng-include>

	<ng-include src="'views/_estateplanBurial.html'"></ng-include>

	<ng-include src="'views/_estateplanRentalProperty.html'"></ng-include>

	<ng-include src="'views/_estateplanStocks.html'"></ng-include>

	<ng-include src="'views/_estateplanPrevMarriage.html'"></ng-include>

	<ng-include src="'views/_estateplanPrevPlan.html'"></ng-include>

	<ng-include src="'views/_estateplanNotes.html'"></ng-include>


	<fieldset class="fieldset-section">
		<div class="row">
			<div class="col-md-3">
				<button class="btn btn-success" type="submit">Save</button>
				<!-- <button class="small round" type="button" ng-click="preview()">Preview</button> -->
				<button class="btn btn-default" type="button">Cancel</button>
			</div>
    </div>
	</fieldset>
</form>
<pre>{{plan | json}}</pre>
