<h2>Fremont</h2>
<div>
	<div><strong><a class="tel-unstyled" href="tel:15107951725">(510) 795-1725</a></strong>
	<p><a href="mailto:dohel@ohellaw.com">dohel@OhelLaw.com</a></p>
	<p>39300 Civic Center Drive, Ste. 110, Fremont, CA 94538 (Fremont BART Station Accessible)</p>
	</div>
</div>
<div>
	<iframe width="800" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=+39300+Civic+Center+Drive,+Suite+110,+Fremont,+CA+94538&amp;ie=UTF8&amp;hq=&amp;hnear=39300+Civic+Center+Dr+%23110,+Fremont,+California+94538&amp;t=m&amp;z=14&amp;vpsrc=0&amp;ll=37.554668,-121.976839&amp;output=embed"></iframe>
</div>