

<div class="row contact-info">
	<div class="col-md-2">
		<!-- <div>39300 Civic Center Drive, Ste. 110<br>Fremont, CA 94538</div>
		<div>(408) 252-4911</div>  -->
	</div>
	<div class="col-md-8">
		<div>
			19925 Stevens Creek Blvd., Ste. 100
			<!-- <br> -->
			Cupertino, CA 95014 <span class="hidden-xs"> | Phone:&nbsp;</span><a href="tel: +1-408-252-4911">(408)&nbsp;252-4911</a>
		</div>
		<!-- <div>(408) 252-4911</div>      -->
	</div>
	<div class="col-md-2">
		<!-- <div>1900 South Norfolk Street, Ste. 350<br>San Mateo, CA 94403</div>
		<div>(408) 252-4911</div> -->
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<p>
			<strong>Welcome:</strong> We provide our clients creative, intelligent, and thorough solutions to legal questions. Working as determined advocates on your behalf, we are committed to providing the best possible legal services at the best possible value. Let us work with you to find the best solutions to your legal problems. Browse our website and contact us anytime for further assistance.
		</p>
		<div class="resources">
			<a href="https://ohellaw.com/#/estateplan/">Estate Plan Form</a>
	    	<br>
	    	<a href="https://squareup.com/market/doron-ohel-law-offices/estate-plans">Payment Store&nbsp;<img height="18" src="images/squareup-logo.png" alt="squareup logo"></a>
        </div>
	</div>
	<div class="col-md-7" style="height: 405px">
		<carousel interval="slideInterval">
			<slide ng-repeat="slide in slides" active="slide.active">
				<div class="carousel-item-testimonial">
					<p><i>{{slide.text}}</i></p><div class="pull-right"> - {{slide.initial}}</div>
				</div>
			</slide>
		</carousel>
  	</div>
</div>