<h1>Attorney Profile</h1>

<img src="/images/doron_profile.jpg" class="pull-right" />
<p>
	A longtime resident of the San Francisco Bay Area, Doron Ohel, Esq. earned a Bachelor's Degree at the University of California 
  at Santa Barbara. He interned at the Public Affairs Bureau of the State 
  Department in Washington DC. While at the State Department, Doron was 
  in contact with top-level officials formulating foreign policy, including 
  members of the press corps, diplomatic corps, and the White House.
</p>
<p>
  After earning a bachelor's degree, he taught English in Japan for one year, gaining exposure to different 
  aspects of global business culture. Along with conversational Japanese, Doron is fluent in Hebrew.
</p>
<p>
  Doron returned to the United States and enrolled at the University of San Diego School of Law. During Law School, Doron 
  interned at the law firm of Potok International Law, focusing on international arbitration and mediation, and with the State of California Department 
  of Industrial Relations, dealing with numerous labor dispute hearings at the Division of Labor Standards Enforcement. Upon earning his Juris 
  Doctor degree, he clerked for Sixten &amp; Associates, a California firm practicing exclusively with California Administrative Codes.
</p>
<p>
  Doron worked at the Conservatorship Division 
  of Sacramento County, defending clients' right to keep control and possession of their property.
</p>
<p>
  Doron is an attorney with a decade of experience engaging in estate planning for numerous domestic and international clients. He enjoys client interaction and finding creative solutions to various legal problems. As a committed member of the local community and legal profession, Doron and his staff are ready to help you in a professional and results driven manner. Many clients enjoy the ease and friendliness of drafting their estate plan with the Law Offices of Doron Ohel. Feel free to <a ui-sref="contact">contact us</a> to start your estate plan today.
</p>
