<div class="row ol-topstrip">
	<div class="large-3 columns">
		<h1><img border="0" alt="Law Offices Of Doron Ohel, A Professional Corporation" src="images/lawoffices.gif"></h1>
	</div>
	<div class="large-9 columns">
		
	</div>
</div>

<div class="row">
	<div class="large-3 columns">
		<ol-side-nav active="testimonials"></ol-side-nav>
	</div>
	<div class="large-9 columns">
		<h1>Client Testimonials</h1>
		<div class="testimonials">
			<div class="testimonial" ng-repeat="testimonial in testimonials">
				<div class="quote">"{{testimonial.quote}}"</div>
				<div class="initial"> - {{testimonial.initial}}</div>
			</div>
		</div>
	</div>
</div>